.input-group {
  margin-bottom: 1rem;
  overflow: hidden;
}

.input-label {
  color: $white;
  display: inline-block;
  margin-bottom: .75rem;
}

.input::placeholder {
  font-style: italic;
}

.input {
  border: 0;
  font-size: 100%;
  padding: 1rem;
  outline: none;
  transition: all .3s ease-in;
  width: 100%;
}

.input--textarea {
  height: 5rem;
}

.input--invalid {
  background-color: $pink;

  &::placeholder {
    color: $white;
  }
}

.input-error {
  background-color: darken($blue, 5%);
  color: $white;
  padding: 1rem;
}

.control-group {
  .button {
    margin-left: .75rem;
  }
}

.control-group--right {
  float: right;
}

.input--checkbox {
  visibility: hidden;
}

.input-label--checkbox:before {
  border: 2px solid $blue;
  content: '';
  display: inline-block;
  height: 1rem;
  padding: .1rem;
  width: 1rem;
  vertical-align: middle;
}

.input-label--checkbox:hover:before {
  color: darken($white, 10%);
  content: '\f00c';
  cursor: pointer;
  font-family: 'Fontawesome';
}
